POSTGRES_DB=personal_finance_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_KEY=ChangeThisInProduction_AtLeast32Chars
JWT_ISSUER=PersonalFinanceTracker
JWT_AUDIENCE=PersonalFinanceTrackerClients
OAUTH_GOOGLE_CLIENT_ID=
DEMO_SEED_ENABLED=true
